---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Retro Game Literature Club</h1>
    <a href="https://discord.gg/jAbVkyGDRR" target="_blank" class="button"
      >Join our Discord</a
    >
  </main>
</Layout>
