---
import DiscordBtn from '../components/DiscordBtn';
import Layout from '../layouts/Layout.astro';
import logo from '../assets/logo.svg';
---

<Layout title="Retro Gaming Literature Club">
  <main>
    <img src={logo.src} alt="Retro Game Literature Club Logo" width="200" />
    <h1>Retro Gaming Literature Club</h1>
    <div class="framed">
      <h2>A Book Club, but for Retro Games!</h2>
      <DiscordBtn client:load />
      <p>
        We are a group of people who love retro games and want to share our love
        with others. We meet every 2 weeks to discuss a game we all played and
        share our thoughts on it.
      </p>
      <p>
        We meet on Discord where we talk about games, share recommendations, and
        help each other out with any issues we might have with our games.
      </p>
      <p>
        If you are interested in joining us, click the button above to join our
        Discord server. We would love to have you!
      </p>
      <div class="framed no-hd">
        <h3>When will you next meet?</h3>
        <small
          >We'll meet on <a href="https://everytimezone.com/s/8d2bfccd"
            >Thursday, May 2nd at 17:00 UTC</a
          > to talk about
          <a href="https://letsplayretro.games/md/desert-demolition-starring-road-runner-and-wile-e-coyote"
            >Desert Demolition Starring Road Runner and Wile E. Coyote on Sega Mega Drive</a
          >!</small
        >
      </div>
      <div class="framed no-hd">
        <h3>Can you help me get set up with retro gaming?</h3>
        <small>Absolutely! We are emulation nerds and love this stuff.</small>
      </div>
      <div class="framed no-hd legal">
        <h3>Do you provide roms?</h3>
        <small>Absolutely not.</small>
      </div>
    </div>
    <footer>
      <p>
        Made by <a href="https://github.com/SaraVieira">SaraVieira</a> & <a
          href="https://github.com/hola-soy-milk">hola-soy-milk</a
          >, using <a href="https://astro.build">Astro</a> and <a href="https://luttje.github.io/css-pokemon-gameboy/">CSS Pokémon Framework</a>
      </p>
    </footer>
  </main>
</Layout>

<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    text-align: center;
  }
  h2,
  h3 {
    margin-bottom: 2rem;
  }
  .legal:hover > small::after {
    content: '.. Maybe';
  }
</style>
